.container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #d1d3e2; */
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* border: 1px solid red; */
}

.card {
  background-color: #EAECCC;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Set the maximum width */

}
.card h1{
  font-size: 2rem;
}

.formGroup {
  margin-bottom: 16px;
}

.formGroup label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.5em;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formGroup button {
  background-color: #125c15;
  color: white;
  padding: .5rem;
  width: 100%; /* Take full width on small screens */
  font-size: 1.2rem;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  margin-top: 2rem; /* Adjust margin as needed */

}

.formGroup button:hover {
  background-color: #b7c3b8;
  color: black;
  border: .5px solid #125c15;
}

.error p {
  color: rgb(38, 38, 125);
  background-color: rgb(38, 38, 125);
}

/* Media Query for small screens (phones) */
@media (max-width: 600px) {
  .card {
      width: 90%; /* Adjust the width for small screens */
      max-width: none; /* Remove maximum width for small screens */
      /* max-height: 100vh; */
  }
  .card h1{
    font-size: 1.5rem;
  }
  .formGroup {
    margin-bottom: 10px;
  }
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
  }
  

  .formGroup button {
      margin-left: 0; /* Center button on small screens */
  }
}
