.container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
  background-color: #e6e9f3;
 

}

.card {
  background-color: #EAECCC;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; 
  max-width: 400px; 

  max-height: 90vh;
  overflow-y: scroll;
 
  scrollbar-color: transparent transparent; 
  -ms-scrollbar-color: transparent transparent;
 
}

.card::-webkit-scrollbar-thumb { 
  background-color: transparent !important;
}

.card::-moz-scrollbar-thumb {  /*  firefox  */
  background-color: transparent !important;
}
.card h1{
  font-size: 2rem;
}

.formGroup {
  margin-bottom: 16px;
}

.formGroup label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.5em;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formGroup button {
  background-color: #125c15;
  color: white;
  padding: .5rem;
  width: 100%;
  font-size: 1.2rem;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  margin-top: 2rem; 

}

.formGroup button:hover {
  background-color: #b7c3b8;
  color: black;
  border: .5px solid #125c15;
}
.error {
  color: red;
  margin-top: 5px;
}
/* .formContainer {
  margin: 1rem;
}
.warningContainer {

  position: relative; 
} */


@media (max-width: 600px) {
  .card {
      width: 90%;
      max-width: none; 
     
  }
  .card h1{
    font-size: 1.5rem;
  }
  .formGroup {
    margin-bottom: 10px;
  }
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
  }
  

  .formGroup button {
      margin-left: 0; 
  }
}
